.counter {
  font-size: 20px;
}

.counter button {
  font-size: 1em;
  cursor: pointer;
  outline: none;
  border: 1px solid #e8e8e8;
  line-height: 1em;
}

button:active {
  background: #e8e8e8;
}

.counter input {
  font-size: 18px;
  border: 1px solid #e8e8e8;
  width: 2em;
  line-height: 1em;
}
