.btn {
  color: #fff;
  background: red;
  padding: 4px 10px;
  border-radius: 2px;
  border: 1px solid;
  cursor: pointer;
}

.border {
  border: 1px solid red;
}

.btn-blue {
  background: blue;
}

.btn-green {
  background: #0ff;
}
